html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 200px;
  border-radius: 20px;
  background-color: #FC1503;
}

.search-bar {
  width: 350px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-top: 15px;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.category-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #000;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 40px 10px 10px;
  transition: all 0.3s ease ;
  font-weight: bold !important;
  cursor: pointer;
  
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white;
}

.category-btn:hover span {
  color: white !important;
}

.paper {
  width: 400px;
  height: 50px;
}



@media screen and (max-width: 800px) {
  .copyright {
    display: none;
  }

}



@media screen and (max-width: 600px){
  .search-bar {
    width: 130px;
    margin: 0;
  }

  .category-btn {
    margin-right: 20px;
  }

  .copyright {
    display: none;
  }

  .react-player {
    width: 100% !important;
    height: 45vh !important;
  }

  .paper {
    width: 170px;
    height: 30px;
  }

}

